body {
  background-color: lightblue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 300px;
}

.nama {
  text-align: center;
  font-size: 30pt;
  font-family: "Courier New", Courier, monospace;
  color: cadetblue;
}

p {
  text-align: justify;
}

a:hover {
  color: #ff00ff;
}

.ling {
  font-family: "Times New Roman", Times, serif;
}

table,
tr,
td {
  border: 2;
  border-color: #01a9db;
}
